body {
  font-family: 'Noto Sans', sans-serif;
}

table {
  border-collapse: collapse;
}

td {
  border-style: solid;
  border-width: 1px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>.flex-item {
  padding: 0.75rem;
}

/* https://developer.mozilla.org/ja/docs/Learn/HTML/Forms/Styling_HTML_forms#Fonts_and_text */

select {
  font-family: inherit;
  font-size: 100%;
  padding: 0 0.2rem;
  background: none;
  border-radius: 0.2rem;
}